<!DOCTYPE html>

<!-- https://docs.djangoproject.com/en/1.11/ref/templates/builtins/
 lorem random ipsum
-->

<html lang="en-us" >
<head>
    {% load static %}
    {% load rms_filters %}
    {% static "" as static_rms %}
    <title>Allocated resources</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{{ static_rms }}{{ request.resolver_match.app_name }}/style.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-rms model-resourcetypes change-list" data-admin-utc-offset="0">

<div id="container">
    <!-- Header -->
    <div id="header">
        <div><span class="cloudify"></span></div>
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Resource Management System (RMS)</a></h1>
        </div>
        <div><span class="cloudify"></span></div>
    </div>

<!-- END Header -->
  <div id="content" class="flex">
{% if latest_allocated_list %}
      <h1><a href="../"><span class="ul_elem">Allocation List</span></a> | <span>Allocation Cost</span> | <a href="../cost"><span class="ul_elem">Cost Summary</span></a></h1>
  <h3>Total allocations Cost: {{ latest_allocated_list|running_cost}}</h3>
    <div class="results">
     <table id="result_list2">
      <tbody>
      {% for allocated_resource in latest_allocated_list|dictsort:"allocation_time" %}
      {% ifequal forloop.counter|modulo:5 1 %}
      <tr class="{% cycle 'row1' 'row2' %}">
          {% endifequal %}
          {% with ref_id=allocated_resource.resource_id %}
          {% with res_type=ref_id.resource_type %}
          {% with res_type_class=ref_id.remove_type_spaces|lower %}


          <td><a title="{{ allocated_resource.resource_id }}" href="{% url 'rms:detail' allocated_resource.allocation_id %}">{{ allocated_resource.current_cost }}</a>
          <div class="item_container">
              <span title="{{ res_type }}" class="item_image {{ res_type_class }} big_icon"></span>
              <div title="{{ res_type }}" class="item_overlay">
                  <div class="item_text">
                      <ul>
                        <li>{{ allocated_resource.resource_id }}</li>
                        <!-- <li>{{ allocated_resource.allocation_time }}</li> -->
                        <!-- <li>{{ allocated_resource.allocation_description }}</li> -->
                      </ul>
                  </div>
              </div>
          </div>
           <!-- {{ res_type }} -->
          <td>

          {% endwith %}
          {% endwith %}
          {% endwith %}
          {% ifequal forloop.counter|divisibleby:5 1 %}
      </tr>
      {% endifequal %}
      {% endfor %}
      </tbody>
     </table>
    </div>
      <h2><a href="../"><span class="ul_elem">Allocation List</span></a> | <span>Allocation Cost</span> | <a href="../cost"><span class="ul_elem">Cost Summary</span></a></h2>

{% else %}

    <p>No allocations are available.</p>
{% endif %}
  <div id="footer"></div>
</div>
    <!-- END Container -->
</body>
</html>





