<!DOCTYPE html>

<html lang="en-us" >
<head>

    {% load static %}
    {% static "" as static_rms %}
    <title>List allocations | Allocated resources</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{{ static_rms }}{{ request.resolver_match.app_name }}/style.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-rms model-resourcetypes change-list" data-admin-utc-offset="0">


<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/{{ request.resolver_match.app_name }}/">Resource Management System (RMS)</a></h1>
        </div>
    </div>


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<div id="content">
<h2>Allocation Details {{ request.resolver_match.app_name }} | <a href="/{{ request.resolver_match.app_name }}/"><u>All allocations</u></a></h2>
<h4>{{allocatedresources.allocation_description}} (allocation id: #{{allocatedresources.allocation_id}})</h4>
<div><span class="{{ allocatedresources.resource_id.remove_type_spaces|lower }} big_icon"></span></div>
<div id="fields">
    <table id="details2">
        <tbody>
         <tr class="row2">
            <td>Resource ID</td>
             <td>{{allocatedresources.resource_id}}</td>
         </tr>
         <tr class="row1">
             <td>Resource Type</td><td>{{allocatedresources.resource_id.resource_type}}</td>
         </tr>
         <tr class="row2">
            <td>Allocation Time</td><td>{{allocatedresources.allocation_time}}</td>
         </tr>
         <tr class="row1">
            <td>Expiration Time</td><td>{{allocatedresources.expiration_time}}</td>
         </tr>
        <tr class="row2">
             <td>Cost</td><td>{{allocatedresources.current_cost}}</td>
         </tr>
         <tr class="row1">
             <td>Tenant</td><td>{{allocatedresources.tenant_name}}</td>
         </tr>
        <tr class="row2">
             <td>Group</td><td>{{allocatedresources.group_name}}</td>
         </tr>
         <tr class="row1">
             <td>User name</td><td>{{allocatedresources.user_name}}</td>
         </tr>
        <tr class="row2">
             <td>Description</td><td>{{allocatedresources.allocation_description}}</td>
         </tr>
        </tbody>
    </table>
</div>
    <h2 id="back"><a href="/{{ request.resolver_match.app_name }}/"><u>Back to list</u></a></h2>
</div>
<div id="footer"></div>

<!-- END Container -->

</div>
</body>
</html>