<!DOCTYPE html>

<!-- https://docs.djangoproject.com/en/1.11/ref/templates/builtins/
 lorem random ipsum

 css effects
 https://www.w3schools.com/howto/howto_css_image_overlay.asp

 html css effect and stuf
 https://www.w3schools.com/howto/howto_css_image_overlay.asp
-->

<html lang="en-us" >
<head>
    {% load static %}
    {% load rms_filters %}
    {% static "" as static_rms %}
    <title>List allocations | Allocated resources</title>
    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css" />
    <link rel="stylesheet" type="text/css" href="/static/admin/css/changelists.css" />
    <link rel="stylesheet" type="text/css" href="{{ static_rms }}{{ request.resolver_match.app_name }}/style.css" />
    <script type="text/javascript" src="/admin/jsi18n/"></script>
    <script type="text/javascript" src="/static/admin/js/core.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
    <script type="text/javascript" src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
    <script type="text/javascript" src="/static/admin/js/actions.js"></script>
    <script type="text/javascript" src="/static/admin/js/urlify.js"></script>
    <script type="text/javascript" src="/static/admin/js/prepopulate.js"></script>
    <script type="text/javascript" src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
    <meta name="robots" content="NONE,NOARCHIVE" />
</head>

<body class=" app-rms model-resourcetypes change-list" data-admin-utc-offset="0">

<div id="container">
    <!-- Header -->
    <div id="header">
        <div><span class="cloudify"></span></div>
        <div id="branding">
            <h1 id="site-name"><a href="/admin/">Resource Management System (RMS)</a></h1>
        </div>
        <div><span class="cloudify"></span></div>
    </div>

<!-- END Header -->
  <div id="content" class="flex">
{% if latest_allocated_list %}
  <h1>Allocation List  | <a href="allocations"><span class="ul_elem">Allocation Cost</span></a> | <a href="cost"><span class="ul_elem">Cost Summary</span></a></h1>
  <h3>Total allocations Cost: {{ latest_allocated_list|running_cost}}</h3>
    <div class="results">
     <table id="result_list">
      <thead>
       <tr>
           <th scope="col" class="column-__str__ medium_icon">
               <span class="wheelchain medium_icon"></span>
           </th>
           <th scope="col" class="column-__str__">
              <div class="text"><span>Allocation Instance(ID)</span></div>
              <div class="clear"></div>
          </th>
           <th scope="col" class="column-__str__">
               <div class="text"><span>Description</span></div>
               <div class="clear"></div>
           </th>
           <th scope="col" class="column-__str__">
               <div class="text"><span>Allocation time</span></div>
               <div class="clear"></div>
           </th>
           <th scope="col" class="column-__str__">
               <div class="text"><span>Expiration</span></div>
               <div class="clear"></div>
           </th>
            <th scope="col" class="column-__str__">
               <div class="text"><span>Cost</span></div>
               <div class="clear"></div>
           </th>
       </tr>
      </thead>
      <tbody>
     {% for allocated_resource in latest_allocated_list|dictsort:"allocation_time" %}
      <tr class="{% cycle 'row1' 'row2' %}">
          {% with ref_id=allocated_resource.resource_id %}
          {% with res_type=ref_id.resource_type %}
          {% with res_type_class=ref_id.remove_type_spaces|lower %}
        <td><span title="{{ res_type }}" class="{{ res_type_class }} medium_icon"></span></td>
        <td><a href="{% url 'rms:detail' allocated_resource.allocation_id %}" class="button">{{ allocated_resource.resource_id }}</a></td>
        <td>{{ allocated_resource.allocation_description }}</td>
        <td>{{ allocated_resource.allocation_time }}</td>
        <td>{{ allocated_resource.expiration_time }}</td>
        <td>{{ allocated_resource.current_cost }}</td>
          {% endwith %}
          {% endwith %}
          {% endwith %}
      </tr>
      {% endfor %}
      </tbody>
     </table>
    </div>
    <h2>Allocation List  | <a href="allocations"><span class="ul_elem">Allocation Cost</span></a> | <a href="cost"><span class="ul_elem">Cost Summary</span></a></h2>
{% else %}

    <p>No allocations are available.</p>
{% endif %}
  <div id="footer"></div>
</div>
    <!-- END Container -->

</body>
</html>





