body {
    background: navajowhite;
}
body2 {
    background: navajowhite url("images/cloudify.png") no-repeat bottom left;
}


.ul_elem {
    text-decoration: underline;
}

.item_container {
    position: relative;
    width: 100%;
}

.item_overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 125%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.item_overlay100 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
}

.item_container:hover .item_overlay {
    opacity: 1;
}

.item_container:hover .item_overlay100 {
    opacity: 1;
}

.item_text {
    color: white;
    position: absolute;
    top: 35%;
    left: 30%;
    transform: translate(-35%, -30%);
    -ms-transform: translate(-35%, -30%);
    z-index: 100;
}


.small_icon {
    width: 25px;
    height: 25px;
}

.medium_icon {
    width: 50px;
    height: 50px;
}

.big_icon {
    width: 100px;
    height: 100px;
}

.large_icon {
    width: 200px;
    height: 200px;
}

.cloudify {
    background: url('images/cloudify.png') no-repeat;
}

.wheelchain {
    background: url('images/wheelchain.png') no-repeat;
}

.apache {
    background: url('images/apache.png') no-repeat;
}

.webserver {
    background: url('images/webserver.jpg') no-repeat;
}

.lan {
    background: url('images/lan.jpg') no-repeat;
}

.server {
    background: url('images/server.jpg') no-repeat;
}

.cpe {
    background: url('images/cpe.jpg') no-repeat;
}

.database {
    background: url('images/database.jpg') no-repeat;
}
.vm {
    background: url('images/vm.png') no-repeat;
}
.vpc {
    background: url('images/vpc.png') no-repeat;
}

.base_icon,
.cloudify,
.wheelchain,
.apache,
.lan,
.webserver,
.server,
.cpe,
.database,
.vm,
.vpc
{
    background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    -o-background-size: contain;
    display: block;
}



.custom_th {
    padding: 8px 10px;
}

td, th {
    vertical-align: middle !important;
}



